project:
  type: website

website:
  title: "Blair Warren"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - projects.qmd
    
  page-footer: 
    right: "&copy; 2025, Blair Warren"

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

execute: 
  freeze: auto

